@{
    ViewData["Title"] = "Home Page";
}
@*Created by kadari*@
<h1 class="display-4">Welcome</h1>
<p> This is a full-fledged ASP.NET MVC aeb application with all ingredients as a precursor to the entity framework.</p>
<p>This application has three controllers, siz view and with a shared layout and five model.In addition, ther are models that have constructors which deserve your special attenetion and uderstanding.</p>
