@*
    Created by Kadari
*@
@model ListViewModel
@{
}
<div>
    <p> <a asp-controller="Events" asp-action="EventList" asp-route-id="All"> All Events</a></p>
    @*Loop below read the list of categories and creates a link for each category*@
    @foreach(Category cat in Model.Categories)
    {
        <p><a asp-controller="Events" asp-action="EventList" asp-route-id="@cat.CategoryName"></a></p>
    }
    <p>
        <table>
            <thead>
                <tr>
                    <th colspan="2">@Model.SelectedCategory Events</th>
                </tr>
            </thead>
            @foreach(var evt in Model.Events)
            {
                <tr>
                    <td>@evt.Title</td>
                    <td>
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@evt.Id">View Details</a>
                    </td>
                </tr>
            }
        </table>
    </p>
</div>
